// do your imports first, so that they're avildable everywhere

@import "modules/_navbar";
@import "_vars";


body { 
    
    color: $main-color;
    background-color: $body-bg;}

h1, h2, h3{
    color: $heading-color;
}

.panel {height: 80vb;}

.panel:nth-child(even) {
    background-color: salmon;
    color: white;
}

#to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

@import "modules/footer";
